div{
    color:lightcoral;
    border: 1px solid brown;
    margin: 40px;
    font-weight: bold;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    float: left;
    padding: 16px;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

nav li a:hover{
    text-decoration: underline;
}
.images li:hover{
    position: relative;
    top: -4px dashed #4b4b4b;
    outline: none;
}

form input:valid{
    border: 4px solid #71d300;
}